:root{
    --online-clr:green;
    --busy-clr:rgb(241, 32, 32);
    --offline-clr:gray;
    --away-clr:rgb(243, 243, 70);
}


#badge-component{
    display: flex; 
    flex-direction: column;
 }
 
 .badge{
     display: inline-block;
     position: relative;
     margin: 1rem 4rem;
 }
 
 .badge .number{
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     height: 2rem;
     width: 2rem;
     border-radius: 50%;
     position: absolute;
     top: -1rem;
     right: -0.3rem;
 }
 
 .badge-primary{
     background-color: var(--com-primary-darkclr);
 }
 .badge-secondary{
     background-color: var(--com-secondary-darkclr);
 }
 
 .badge-success{
     background-color: var(--com-success-darkclr);
 }
 
 .badge-danger{
     background-color: var(--com-danger-darkclr);
 }
 
 /* Badge on Avatar  */
 
 .badge-avatar{
     position: relative;
 }
 
 .badge-avatar{
     display: inline-block;
     position: relative;
     margin: 1rem 4rem;
 }
 
 .badge-avatar .status{
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
 }
 
 .xlg-status{
     height: 2.5rem;
     width: 2.5rem;
     border-radius: 50%;
     position: absolute;
     bottom: 1.8rem;
     right: 3rem;
 }
 
 .lg-status{
     height: 2.3rem;
     width: 2.3rem;
     border-radius: 50%;
     position: absolute;
     bottom: 1.8rem;
     right: 2.5rem;
 }
 
 .md-status{
     height: 2rem;
     width: 2rem;
     border-radius: 50%;
     position: absolute;
     bottom: 1.8rem;
     right: 2.3rem;
 }
 
 .sm-status{
     height: 1.8rem;
     width: 1.8rem;
     border-radius: 50%;
     position: absolute;
     bottom: 1.5rem;
     right: 2rem;
 }
 
 .badge-avatar .status-online{
     background-color: var(--online-clr);
     border:2px solid white
 }
 
 .badge-avatar .status-busy{
     background-color: var(--busy-clr);
     border:2px solid white
 }
 
 .badge-avatar .status-offline{
     background-color: var(--offline-clr);
     border:2px solid white
 }
 
 .badge-avatar .status-away{
     background-color: var(--away-clr);
     border:2px solid white
 }
 
 
 